* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Encode Sans Expanded";
  text-decoration: none !important;
}
a {
  text-decoration: none !important;
}
a:hover {
  color: #fff !important;
}
.react-tabs__tab {
  color: rgb(196, 196, 196) !important;
  padding: 6px 20px !important;
}

.react-tabs__tab-list {
  border-bottom: 1px solid #cccbcb0f !important;
  margin: 0 0 80px !important;
}
.react-tabs__tab--selected {
  color: black !important;
}

.react-tabs__tab-panel--selected {
  display: flex !important;
  flex-direction: row;
  justify-content: start;
  align-items: start;
}

.react-tabs__tab:focus:after {
  background-color: transparent !important;
}
